/CMakeLists.txt.user
.svn/
build_Debug
build_Release
.vscode/**
GPATH
GRTAGS
GTAGS
_clang-format
**/GeneratedFiles
**/*_resource.rc
_Builds/**
**/x64/**
**/Bin/**
**/Build/**
**/bin/**
**/debug/**
**/release/**
**/target_wrapper.sh
**/target_wrapper.bat
**/*.Release
**/*.Debug
Makefile*
*~
**/*.orig
*.moc
*.o
*.exe
*.pro.user
.qmake.stash
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
**/#*#
**/.#*
